.header {
    padding: 20px;
    background: #ff5722;
    color: white;
    text-align: center;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);

    .logo {
        margin: auto;
        position: relative;

        p {
            font-size: 24px;
            font-weight: bold;
            margin: 0;
        }
    }
}